<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    need to be able to click from show.ejs and get directed to this page from that selection

    server needs to have app.get for this page

    pass in current book


</body>

</html>