<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hellow World</h1>

        <form action="/searched" method="post">
            <fieldset>
                <input type="text" name="search" placeholder="search"
        required>
            </fieldset>
            <fieldset>
                <input type="radio" name="search" value="title" required>Title
            </fieldset>
        
            <fieldset>
                <input type="radio" name="search" value="author" required>Author
            </fieldset>

            <button type="submit">Search GBooks</button>
        </form>
    </body>
</html>