.container {
    display: flex;
    flex-direction: column; 

}
/* inside container */
* {
    background-color: rgb(235, 219, 218);
}

h1 {
    text-align: left;    
}
h2 {
    text-align: right;
}
ul {
    text-align: center;
    list-style-type: none;
}




