main {
    display: flex;
    flex-direction: column; 
    border: solid black;
}
/* inside container */
* {
    border: solid black;
}

h1 {
    text-align: left;    
}
h2 {
    text-align: right;
}
ul {
    text-align: center;
    list-style-type: none;
}




